.contact{
    padding:100px 20px ;
}
textarea, input{
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    margin-bottom:20px; 
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    color: #495057;
}
button {
  border: none;
  background-color: #1c44e4;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  top: -2px;
  background: linear-gradient(to right, #1345e6 0%,#ed239f 51%,#1345e6 100%);
  background-size: 200% auto ;
  margin-top: 30px;
}
.main-navigation_item {
  display: inline-block;
  padding: 10px;
}
  .main-navigation_item a{
    color: #05364d;
    text-decoration: none;
    text-transform:uppercase;
    font-size:12px ;
    font-weight: 500;
}
.main-navigation_item a:hover{
    color:#efb6df ;}
    
.main-navigation_item.active a{
    color:#efb6df ;
}
.section-title{margin-top: 20px;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #05364e;
}
.textarea:focus,input:focus{
    outline: 0;

}
.half-row{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.contact-firstname{
    padding-right:15px;
}
.contact-email{
    padding-left: 15px;
}


